// https://css-tricks.com/almanac/properties/j/justify-self/

// _base

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  height: 200vh;
  background-color: #333;
  color: #fff;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 62.5%;
}

// _header

.header {
  position: fixed;
  left: 0;
  right: 0;
  top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 30px;

  &__header {
    width: 100vw;
    display: flex;
    align-items: center;
  }

  &__logo {
    width: 80px;
    height: 80px;
    aspect-ratio: 1;
    border-radius: 50%;
  }

  &__heading {
    font-weight: normal;
    font-size: 2.5rem;
    justify-self: center;
  }

  &__menu {
    &-list {
      display: flex;
    }
  }
}
