// https://css-tricks.com/almanac/properties/j/justify-self/

// _base

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  background-color: #333;
  color: #fff;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 62.5%;
}

// _header

.header {
  padding: 10px;
  display: grid;
  grid-template-columns: 1fr 3fr 3fr;
  grid-template-rows: 7fr;
  background-color: #000;

  &__logo {
    width: 50px;
    height: 50px;
    border-radius: 50%;
  }

  &__heading {
    margin-right: 100px;
    justify-self: center;
    align-self: center;
    font-size: 3rem;
    font-weight: normal;
    word-spacing: 5px;
    letter-spacing: 2px;
  }

  &__menu {
    justify-self: center;
    align-self: center;

    &-list {
      list-style: none;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    &-item {
      margin: 0 20px;
    }

    &-link {
      text-decoration: none;
      color: #fff;
      font-size: 1.6rem;
      font-weight: normal;
    }
  }
}

// _main

.code {
  margin-top: 100px;
}
